* {
    margin: 0;
    padding: 0;
    position: absolute;
}

.instruction {
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px;
    width: 30vw;
}

h1 {
    position: relative;
    font-weight: bold;
}

p {
    position: relative;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
}

.sidenav h1 {
    position: relative;
    font-weight: bold;
    color: white;
    margin-left: 25px;
}


.sidenav p {
    color: white;
    margin-left: 25px;
}

.sidenav hr {
    border: 1px solid gray;
    width: 87%;
    margin-left: 25px;
    margin-top: 3px;
    position: relative;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: gray;
    display: block;
    transition: 0.3s;
    position: relative;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.middle {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    opacity: 1;
    position: relative;
}

.title {
    font-weight: bold;
    margin: 0;
}

#interactiveMode {
    display: none;
    position: relative;
    padding-bottom: 8px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: right;
   padding-right: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.mini-slider {
    position: relative;
    display: inline-block;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
